.root {
  @apply flex flex-col items-center gap-4 cursor-pointer;
}

.image-wrapper {
  @apply overflow-hidden max-h-[300px] rounded-primary hover:rounded-tertiary transition-all ease-in-out duration-700
    relative;
}

/* .image-wrapper::before {
  content: 'hello';
  position: absolute;
  background-color: #ffff;
  z-index: 30;
  width: 20px;
  height: 20px;
  right: 0;
} */

.image {
  @apply transition-all ease-in-out duration-700;
}

.text-wrapper {
  @apply flex flex-col justify-center items-center gap-6-px;
}
