.cart {
  @apply flex flex-col gap-10 w-[548px];
}

.cart-list {
  @apply flex flex-col gap-12 max-h-[900px] overflow-y-scroll;
}

.cart-item {
  @apply grid grid-cols-3 content-between px-4;
}

.image {
  @apply rounded-primary cursor-pointer;
}

.col-2 {
  @apply flex flex-col justify-between;
}

.size {
  @apply caption text-[#707070];
}

.col-3 {
  @apply flex flex-col justify-between items-end;
}

.price {
  @apply heading-4 text-primary-2;
}
