.root {
}

.input,
.label {
  @apply cursor-pointer;
}

.input {
  /* @apply appearance-none flex font-primary text-primary w-6 h-6 border-[3px] border-primary rounded-[2.4px]
  place-items-center before:contents before:w-4 before:h-4 before:scale-0 before:duration-150 before:transition-transform before:ease-in-out
  before:checked:scale-100; */
  @apply font-primary text-primary w-6 h-6 border-[3px] border-primary rounded-[2.4px]
   checked:bg-black;
}

.caption {
  @apply block ml-1 text-caption-1 text-sm leading-5;
}
